<link rel="stylesheet" href="/css/_header.css" />

<header class="header">
    <div class="container">
        <div class="logo">
            <a href="/users/profile">
                <h1>Placement Cell</h1>
            </a>
        </div>
        <div class="menu">
            <div class="links"><a href="/student/addStudent">Add Student</a></div>
            <div class="links"><a href="/interview/addInterview">Add Interview</a></div>
            <div class="links"><a href="csv/downloadcsv">Download</a></div>
            <div class="links"><a href="reset-password">Reset Password</a></div>
            <div class="links"><a href="sign-out">Sign Out</a></div>
        </div>
    </div>
</header>